whisperx  # Для автосубтитров. При деплое на сервер потребуется интернет для скачивания модели WhisperX (huggingface.co), первый запуск может быть долгим.
aiogram==3.4.1        # Telegram-бот
pytube==15.0.0        # скачивание видео с YouTube
yt-dlp==2024.7.16     # скачивание с TikTok, Instagram и других платформ
requests==2.32.3      # работа с API и HTTP-запросами
ffmpeg-python==0.2.0  # обертка над ffmpeg для обработки видео
Pillow==10.2.0        # обработка изображений/оверлеев
moviepy==1.0.3        # простая работа с видео (для фильтров, объединения)
python-dotenv==1.0.1  # хранение токенов в .env
aiofiles==23.2.1      # асинхронная работа с файлами
#pip install hf_xet
boto3==1.34.0         # AWS S3 для cloud storage
numpy==1.26.4         # для обработки изображений (шум)
piexif==1.1.3         # для EXIF метаданных
aiosend==3.0.2        # для оплаты через CryptoBot
aiosqlite==0.19.0     # для SQLite базы данных
APScheduler==3.10.4   # для планировщика задач
pocketbase            # для PocketBase базы данных
#some stugg